.login-content {
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-full-width {
    width: 300px;
}

.form-help-text {
    width: 300px;
    margin-bottom: 20px;
    font-size: 10px;
    color: red;
}