<mat-card-content class="login-content center">
  <div class="login-container mat-elevation-z8">

    <mat-card class="login-card">
      <mat-card-header class="center">
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <label for="email">Username</label>
          <div class="form-group">
            <mat-form-field class="login-full-width">
              <input matInput id="username" placeholder="Enter your username, please" name="username" required
                formControlName="username">
            </mat-form-field>
            <div class="form-help-text" *ngIf="form.get('username').invalid && form.get('username').touched">
              <span *ngIf="form.get('username')['errors']['required']">Username can't be empty.</span>
              <span *ngIf="form.get('username')['errors']['minlength']">Username can't be less than
                {{ form.get("username")["errors"]["minlength"]["requiredLength"] }}
                symbols. There are only
                {{ form.get("username")["errors"]["minlength"]["actualLength"] }} symbols now.
              </span>
            </div>
          </div>
          <label for="email">Password</label>
          <div>
            <mat-form-field class="login-full-width">
              <input matInput id="password" placeholder="Enter your password, please" type="password" name="password"
                formControlName="password" required>
            </mat-form-field>
            <div class="form-help-text" *ngIf="form.get('password').invalid && form.get('password').touched">
              <span *ngIf="form.get('password')['errors']['required']">Password can't be empty.</span>
              <span *ngIf="form.get('password')['errors']['minlength']">Password can't be less than
                {{ form.get("password")["errors"]["minlength"]["requiredLength"] }}
                symbols. There are only
                {{ form.get("password")["errors"]["minlength"]["actualLength"] }} symbols now.
              </span>
            </div>
          </div>
          <mat-card-actions class="center form-group">
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>

  </div>
</mat-card-content>