mat-card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 30px;
}

mat-card-title {
    text-align: center;
}

mat-card-content{
    padding-top: 20px;
    padding-bottom: 20px;
}
 
.advanced-color{
    color: #3f51b5;
}
 
.beginner-color{
    color: #f44336;
}

.button-update {
    background-color: aqua;
}

.close {
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
}