<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%" class="login-container mat-elevation-z8">
    <div (click)="onReturnToList()" class="close">
      <mat-icon>clear</mat-icon>
    </div>

    <mat-card-title>Contact Details</mat-card-title>
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutGap="5px">
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex="30%"><strong>First Name:</strong></div>
          <div fxFlex>{{contact?.fname}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex="30%"><strong>Last Name:</strong></div>
          <div fxFlex>{{contact?.lname}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex="30%"><strong>Company:</strong></div>
          <div fxFlex>{{contact?.company}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex="30%"><strong>Phone Number:</strong></div>
          <div fxFlex>{{contact?.phone}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex="30%"><strong>Password:</strong></div>
          <div fxFlex>{{contact?.passwd}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex="30%"><strong>Email:</strong></div>
          <div fxFlex>{{contact?.email}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex="30%"><strong>Status:</strong></div>
          <div fxFlex>{{contact?.status}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Group:</strong></div>
          <div fxFlex>{{contact?.group}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex="30%"><strong>Notes:</strong></div>
          <div fxFlex>{{contact?.notes}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex="30%"><strong>Date of creation:</strong></div>
          <div fxFlex>{{contact?.created_at | date: 'dd.MM.yyyy'}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex="30%"><strong>Modification Date:</strong></div>
          <div fxFlex>{{contact?.updated_at  | date: 'dd.MM.yyyy'}}</div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div class="container">
        <div fxLayout="column" fxLayout.gt-md="row" class="content" fxLayoutAlign="space-around center">
          <button mat-flat-button color="primary" (click)="onReturnToList()">
            <!-- <mat-icon>keyboard_return</mat-icon> Return -->
            <mat-icon>undo</mat-icon> Return
          </button>
          <button mat-flat-button class="button-update" (click)="onRedirectToUpdate(contact?.id)">
            <mat-icon>spellcheck</mat-icon> Update
          </button>
          <button mat-flat-button color="warn" (click)="onDelete(contact)">
            <mat-icon>delete</mat-icon> Delete
          </button>
        </div>
      </div>
    </mat-card-actions>

  </mat-card>
</section>