<div>
  <div class="container">
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="main-card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <button mat-icon-button>
              <mat-icon>group</mat-icon>
            </button>
            <span>Contacts</span>
          </mat-card-title>

          <mat-card-subtitle>
            <div class="container">
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
                <div class="blocks" *ngIf="isAuthenticated()">
                  <button button="submit" mat-flat-button color="primary" (click)="openDialog()">
                    <mat-icon>add</mat-icon> New
                  </button>
                </div>
                <div>
                  <div class="blocks" *ngIf="isAuthenticated()">
                    <mat-form-field fxFlex="400px">
                      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-subtitle>

          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <table mat-table #table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="fname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
                </ng-container>
                <ng-container matColumnDef="lname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.lname}} </td>
                </ng-container>
                <ng-container matColumnDef="company">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
                  <td mat-cell *matCellDef="let element"> {{element.company}} </td>
                </ng-container>
                <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                  <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="group">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
                  <td mat-cell *matCellDef="let element"> {{element.group}} </td>
                </ng-container>

                <ng-container matColumnDef="details">
                  <th mat-header-cell *matHeaderCellDef> Details </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
                      <mat-icon>ballot</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <ng-container matColumnDef="update">
                  <th mat-header-cell *matHeaderCellDef> Update </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
                      <mat-icon class="button-edit">create</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef> Delete </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 5, 10, 20]">
              </mat-paginator>
            </div>
          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </div>
</div>