<div>
  <div class="container">
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="main-card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <button mat-icon-button>
              <mat-icon>group</mat-icon>
            </button>
            <span>Orders</span>
          </mat-card-title>

          <mat-card-subtitle>
            <div class="container">
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
                <div class="blocks" *ngIf="isAuthenticated()">
                  <button button="submit" mat-flat-button color="primary" (click)="openDialog()">
                    <mat-icon>add</mat-icon> New
                  </button>
                </div>
                <div>
                  <div class="blocks" *ngIf="isAuthenticated()">
                    <mat-form-field fxFlex="400px">
                      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-subtitle>

          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <table mat-table #table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="invoice">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Nr </th>
                  <td mat-cell *matCellDef="let element"> {{element.invoice}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <ng-container matColumnDef="currency">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
                  <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
                </ng-container>
                <ng-container matColumnDef="created_at">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Creation </th>
                  <td mat-cell *matCellDef="let element"> {{element.created_at  | date: 'dd.MM.yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="updated_at">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Last update at </th>
                  <td mat-cell *matCellDef="let element"> {{element.updated_at  | date: 'dd.MM.yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="total_cost">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Total cost </th>
                  <td mat-cell *matCellDef="let element"> {{element.total_cost}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 5, 10, 20]">
              </mat-paginator>
            </div>
          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </div>
</div>