/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, .app-container {
    height: 100%;
    padding: 0;
    margin: 0;
}

// Main card
.main-card {
    width: 100%;
}

.main-card >:first-child {
    margin-bottom: 20px;
}


.main-card span {
    padding-top: 7px;
}

.button-edit {
    color: green;
}

.example-container {
display: flex;
flex-direction: column;
max-height: 500px;
min-width: 100%;
}

.mat-table {
overflow: auto;
max-height: 500px;
}
  
a {
cursor: pointer;
}
// Main card //  
