<!--HEADER-->
<div flex fxLayout="row">
  <div fxFlex="100">
    <mat-toolbar color="primary" class="header-box-shadow">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow.sm="true" fxShow.gt-sm="false">
        <mat-icon>menu</mat-icon>
      </button>
      <div>
        <a>
          <img src="./assets/images/SwaydLogo_light.png" width="100">
        </a>
      </div>
      <button mat-button>
        <mat-icon>home</mat-icon>
        Upcoming
      </button>
      <span fxShow.lt-md="false" fxShow.gt-sm="true">
        <button mat-button>
          <mat-icon>link</mat-icon>
          Link
        </button>
        <button mat-button>
          <mat-icon>link</mat-icon>
          Link
        </button>
        <button mat-button [matMenuTriggerFor]="dropDown">
          DropDown
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #dropDown="matMenu" overlapTrigger="false">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Dropdown Link 1</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Dropdown Link 2</span>
          </button>
        </mat-menu>
      </span>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu" fxShow.lt-md="false" fxShow.gt-sm="true">
        <mat-icon>account_circle</mat-icon>
        <span>Account</span>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" fxShow.lt-md="true" fxShow.gt-sm="false">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>My Account</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>money</mat-icon>
          <span>Billing</span>
        </button>
      </mat-menu>
      <mat-icon class="logout-icon" (click)="logout()" title="Logout">exit_to_app</mat-icon>
    </mat-toolbar>
  </div>
</div>
<!--HEADER-->

<mat-sidenav-container class="container main_wrapper">
  <!--SIDENAV-->
  <mat-sidenav #sidenav [(mode)]="over" [(opened)]="opened" class="bottom-to-top">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="with-bg"></div>
      <div>
        <div class="lead">SmartAdmin T2</div>
      </div>
    </div>
    <div>
      <mat-accordion multi="true" [displayMode]="displayMode">
        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <a [routerLink]="['/system', 'users']">
              <mat-panel-title>
                <button mat-icon-button>
                  <mat-icon>group</mat-icon>
                </button>
                User Management
              </mat-panel-title>
            </a>
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <mat-list-item>
              <a [routerLink]="['/system', 'users']">Users</a>
            </mat-list-item>
            <mat-list-item>
              <a [routerLink]="['/system', 'users']">Groups</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <a [routerLink]="['/system', 'orders']">
              <mat-panel-title>
                <button mat-icon-button>
                  <mat-icon>credit_card</mat-icon>
                </button>
                Orders
              </mat-panel-title>
            </a>
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <mat-list-item>
              <a [routerLink]="['/system', 'orders']">Summary</a>
            </mat-list-item>
            <mat-list-item>
              <a [routerLink]="['/system', 'orders']">SKUs</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>


        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <a [routerLink]="['/system', 'inventery']">
              <mat-panel-title>
                <button mat-icon-button>
                  <mat-icon>group</mat-icon>
                </button>
                Inventory
              </mat-panel-title>
            </a>
          </mat-expansion-panel-header>

          <mat-nav-list dense>
            <mat-list-item>
              <a [routerLink]="['/system', 'inventery']">WooCommerce Dependent</a>
            </mat-list-item>
            <mat-list-item>
              <a [routerLink]="['/system', 'inventery']">Others</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <a [routerLink]="['/system', 'channels']">
              <mat-panel-title>
                <button mat-icon-button>
                  <mat-icon>group</mat-icon>
                </button>
                Sales Channels
              </mat-panel-title>
            </a>
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <mat-list-item>
              <a [routerLink]="['/system', 'channels']">SKU List</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <a [routerLink]="['/system', 'reports']">
              <mat-panel-title>
                <button mat-icon-button>
                  <mat-icon>group</mat-icon>
                </button>
                Reports
              </mat-panel-title>
            </a>
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <mat-list-item>
              <a [routerLink]="['/system', 'reports']">Orders quantities</a>
            </mat-list-item>
            <mat-list-item>
              <a [routerLink]="['/system', 'reports']">Finances</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <a [routerLink]="['/system', 'contacts']">
              <mat-panel-title>
                <button mat-icon-button>
                  <mat-icon>group</mat-icon>
                </button>
                Contacts Management
              </mat-panel-title>
            </a>
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <mat-list-item>
              <a [routerLink]="['/system', 'contacts']">Contacts</a>
            </mat-list-item>
            <mat-list-item>
              <a [routerLink]="['/system', 'contacts']">Groups</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <a [routerLink]="['/system', 'locations']">
              <mat-panel-title>
                <button mat-icon-button>
                  <mat-icon>group</mat-icon>
                </button>
                Locations Management
              </mat-panel-title>
            </a>
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <mat-list-item>
              <a [routerLink]="['/system', 'locations']">Locations</a>
            </mat-list-item>
            <mat-list-item>
              <a [routerLink]="['/system', 'locations']">Types</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </mat-sidenav>
  <!--SIDENAV-->

  <mat-sidenav-content>
    <!--SIDENAV CONTENT-->
    <!-- possible sidenav service button of message... -->
    <!--SIDENAV CONTENT-->

    <!--MAIN CONTENT-->
    <main class="content">
      <article class="content dashboard-page main-block">
        <router-outlet></router-outlet>
      </article>
    </main>

  </mat-sidenav-content>
  <!--MAIN CONTENT-->

</mat-sidenav-container>


<!--FOOTER-->
<footer flex fxLayout="row">
  <div fxFlex="100">
    <mat-toolbar color="primary" class="header-box-shadow">
      <div><span>SmartAdmin-T2 ver.0.0.1 ©
          2017-2019</span></div>
    </mat-toolbar>
  </div>
</footer>