// ============== Material layout try-2 =======
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
width: 250px;
}

.lead {
    padding: 5px 0;
    font-size: 20px;
    font-weight:bold;
    color: silver;
}

a {
text-decoration: none;
color: white;
}

a:hover,
a:active {
color: lightgray;
}

.navigation-items {
list-style: none;
padding: 0;
margin: 0;
cursor: pointer;
}

.icon {
display: inline-block;
height: 30px;
margin: 0 auto;
padding-right: 5px;
text-align: center;
vertical-align: middle;
width: 15%;
}

.label {
display: inline-block;
line-height: 30px;
margin: 0;
width: 85%;
}

// =====================


.spacer {
    flex: 1 1 auto;
}

.mat-sidenav-container {
height: inherit;
min-height: calc(100vh - 99px);
max-width: 100%;
    padding: 0;
}  

.mat-expansion-panel-header {
    padding: 0 10px;
}

mat-panel-title {
    align-items: center;
}

.mat-nav-list .mat-list-item {
    height: 30px;
}

.mat-icon-button {
    margin-right: 5px !important;
    border: none;
}

.mat-nav-list .mat-list-item a {
    font-size: 15px;
    padding-left: 30px;
}

.container {
    // position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav {
    width: 250px;;
}

.circle {
    border-radius: 50%;
}

.with-bg {
    background: url('../../assets/images/office.jpg') no-repeat center;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    max-height: 130px;
}

.no-shadow {
    box-shadow: none !important;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
    padding-left: 10px !important;
}

.header-box-shadow {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.bottom-to-top {
    border: 0px;
    border-right: 1px;
    border-style: solid;
    border-image:
    linear-gradient(to top, #c1c1c1, rgba(0, 0, 0, 0)) 1 100%
} 

footer .mat-toolbar {
    font-size: 15px;
    height: 35px;
}

.logout-icon {
    cursor: pointer;
}